amqp==5.1.1
asgiref==3.5.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1
BaseHash==3.0.10
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.4
defusedxml==0.7.1
Deprecated==1.2.13
diff-match-patch==20200713
Django==3.2.15
django-celery-beat==2.3.0
django-debug-toolbar==3.6.0
django-filter==22.1
django-import-export==2.8.0
django-ranged-response==0.2.0
django-redis==5.2.0
django-simple-captcha==0.5.17
django-simpleui==2022.7.29
django-timezone-field==5.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
drf-extensions==0.7.1
et-xmlfile==1.1.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
kombu==5.2.4
MarkupPy==1.14
MarkupSafe==2.1.1
odfpy==1.4.1
openpyxl==3.0.10
packaging==23.1
paho-mqtt==1.6.1
Pillow==8.4.0
prompt-toolkit==3.0.30
pycparser==2.21
PyJWT==1.7.1
PyMySQL==1.0.2
pyparsing==3.0.9
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
QQLoginTool==0.3.0
redis==4.3.4
requests==2.26.0
ronglian-sms-sdk==1.0.0
selenium==3.141.0
six==1.16.0
sqlparse==0.4.2
tablib==3.2.1
typing_extensions==4.3.0
tzdata==2022.2
uritemplate==4.1.1
urllib3==1.26.12
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.1
xlrd==1.2.0
XlsxWriter==1.4.3
xlwt==1.3.0
zipp==3.8.1
